{% extends "base.html.twig" %}

{% block main %}
    <div class="wrapper">
        <form class="book-create" action="{{ path('edit', { id: book.id }) }}" method="post">
            <div class="create-header">
                EDIT BOOK
            </div>
            <div class="create-title">
                <div class="create-title-label">TITLE</div>
                <input type="text" class="create-title-content" name="book[title]" value="{{ book.title }}"/>
            </div>
            <div class="create-bookitem">
                <div class="create-bookitem-label">AUTHOR</div>
                <input type="text" class="create-bookitem-content" name="book[author]" value="{{ book.author }}">
            </div>
            <div class="create-bookitem">
                <div class="create-bookitem-label">PRICE</div>
                <input type="number" min="1" STEP="any" class="create-bookitem-content" name="book[price]"
                       value="{{ book.price }}"/>
            </div>
            <div class="create-button-holder">
                <button type="submit" class="button">EDIT BOOK</button>
                <a type="button" href="{{ path('homepage') }}" class="button">BACK</a>
            </div>
            {{ form_row(form._token) }}
        </form>
    </div>
{% endblock %}

